@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

#canvas {
  border: 1px solid black;
}

.title {
  text-align: center;
  margin-top: 3rem;
  font-size: 3em;
}

.container {
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-top: 2rem;
  width: fit-content;
}

.config {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  gap: 0.5rem;
  width: 9rem;
  font-size: 1.3em;
}

.reset {
  margin-inline: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  
}